doctype html
 
html(lang="en")
    head
        title jQuery UI Accordion - Open on hoverintent
        link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
        script(src="http://code.jquery.com/jquery-1.9.1.js")
        script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
       
        script(src="dist/all.js")
        script(src="dist/Canalada.js")
        script(src="dist/Port.js")
        script(src="dist/Actor.js")
        script(src="dist/Link.js")
        script(src="dist/main.js")
        link(rel="stylesheet", href="main.css")
    
    body
        div#library
        div#canal(tabindex="1")    
            canvas#canal-canvas
        script(type="text/javascript").main
            main();
        
