doctype html
 
html(lang="en")
    head
        title Canalada
        link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
        script(src="http://code.jquery.com/jquery-1.9.1.js")
        script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
        script(src='/js/socket.io.min.js')       
        script(src="dist/all.js")
        script(src="dist/Canalada.js")
        script(src="dist/Port.js")
        script(src="dist/Actor.js")
        script(src="dist/Link.js")
        script(src="dist/main.js")
        link(rel="stylesheet", href="main.css")
    
    body
        div#top-workspace
        div#bottom-workspace
            div#library
            div#canal(tabindex="1")    
                div#menu(style="z-index: 2")
                    ul
                        li(style="cursor: pointer",onclick="Canalada.save()") Save
                        li(style="cursor: pointer",onclick="Canalada.open()") Open
                canvas#canal-canvas(style="z-index: 1")
            
        script(type="text/javascript").start
            start();
        
