body, html {
    height: 99%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div#library {
    width: 150px;
    height: auto;
    float: middle;
}

#dialogL, 
#toolbar, 
#library, 
#menu ul, 
#menu ul li, 
#menu > ul > li > a, 
.canal-row, 
.canal-row-new,
.canal-row-content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}


ul#grid {
  padding: 0;
  list-style: none;
  margin: 0px auto 0;
  height: auto;
  width: auto;
}

#grid li {
  float: left;
  padding:10;
  margin: 0px auto 0;
  text-align:center;
}
  
#grid li img {
  background-color: white;
  padding: 8px;
  margin: 0px;
  width: 32px;
  height: 32px;
}

#menu {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  /*display: block;*/
  margin: 5px 12px 5px 12px;
  overflow: hidden;
  width: 90%
  bottom: 0;
  position: absolute;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu ul li {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; 
  color: #111;
  display: block;
  line-height: 32px;
  padding: 0 12px;
  text-decoration: none;
}

#menu > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
    color: rgb( 255, 255, 255 );
}
    
#top-workspace {
    border: 1px solid grey;
    position:absolute;
    float: top;
    background: white;
    left: 3px;
    right: 3px;
    top: 0px;
    bottom: 3px;
    overflow: auto;
}

#workspace {
    border: 2px solid blue;
    position:relative;
    /*position:absolute;*/
    left:3px;
    right:3px;
    bottom:3px;
    top:3px;
}



#toolbar { 
    height: 22px; 
    padding: 4px; 
    position: relative;
    float:bottom; 
    bottom: 3px; 
    width: 100px;
    background-color: green;/*transparent;*/
    font-size: 0.8em;
}

#toolbar a { 
    font-weight: bold; 
    border: 1px 
    solid #aaa; 
    padding: 2px; 
}

#toolbar a:hover { 
    color: white; 
    background-color: #aaa; 
}

#dialogL, 
.ui-dialog-titlebar, 
.ui-button-text {
    padding: 0.05em 0.1em;
    position: relative;
    font-size: 0.6em;
}

/*.canal-row-new, */
#canal-rows {
    height: auto;
    background-color: white;
	  margin: 1px 0 0 0;
	  padding: 4px 2px;
	  border: 2px solid #d0d0d0;
  	border-right: 0;
	  border-radius: 3px 0 0 3px;
	  position: relative;
}

#canal-rows .ui-accordion-content > * {  
    margin: 0;  
    padding: 0px;  
}  

.canal-row-new, 
.canal-row-new > label, 
.canal-row-new > input {
    vertical-align:middle;
}

.canal-row-new { 
    opacity:0.4;
    height: auto;
    background-color: white;
	  padding: 8px 8px;
	  position: relative;
}

.canal-row-new:hover {
    vertical-align:middle;
    opacity:1.0;
}
/*
.canal-row-content {
	  display: none;
	  border: 1px solid #ccc;
    border-top: 0;
}
*/


#canal-rows * .ui-accordion-header { 
    background-color: white; 
    background-image:none;
    font-size: 10pt;  
    line-height: 16pt; 
}

#canal-rows * .ui-accordion, 
#canal-rows * .ui-accordion-content {
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.canal-row-content {
    position: relative;
    background: white;
    margin: 2px, 0px, 0px, 0px;
    padding: 2px, 0px, 0px, 0px;
    /*left:0px;
    right:3px;
    bottom: 0px;
    /*border: 3px solid green;*/
}

h1 {
  text-align: center;
}
ul.tabs {
  list-style-type: none;
  margin: 3px;
  padding: 5px 0px;
  float: left;
}
ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .25em;
  font-size: 0.8em;
}
ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: gray;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
