body, html {
    height: 99%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div#library {
    width: 150px;
    height: auto;
    float: middle;
}

#dialogL, 
#toolbar, 
#library, 
#menu ul, 
#menu ul li, 
#menu > ul > li > a, 
.canal-row, 
.canal-row-new,
.canal-row-content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}


ul#grid {
  padding: 0;
  list-style: none;
  margin: 0px auto 0;
  height: auto;
  width: auto;
}

#grid li {
  float: left;
  padding:10;
  margin: 0px auto 0;
  text-align:center;
}
  
#grid li img {
  background-color: white;
  padding: 8px;
  margin: 0px;
  width: 32px;
  height: 32px;
}

#menu {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  /*display: block;*/
  margin: 5px 12px 5px 12px;
  overflow: hidden;
  width: 90%
  bottom: 0;
  position: absolute;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; 
  color: #111;
  display: block;
  line-height: 32px;
  padding: 0 12px;
  text-decoration: none;
}

#menu > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
    color: rgb( 255, 255, 255 );
}
    
#top-workspace {
    border: 1px solid red;
    position:absolute;
    height: 200px;
    float: top;
    background: white;
    left: 3px;
    right: 3px;
    top: 0px;
    overflow: auto;
}

#bottom-workspace{
    border: 1px solid blue;
    position:absolute;
    left:3px;
    right:3px;
    bottom:3px;
}



#toolbar { 
    font-size: 22px; 
    height: 22px; 
    padding: 4px; 
    background-color: #ddd; 
    position: fixed; 
    bottom: 3px; 
    width: auto;
}

#toolbar a { 
    font-weight: bold; 
    border: 1px 
    solid #aaa; 
    padding: 2px; 
}

#toolbar a:hover { 
    color: white; 
    background-color: #aaa; 
}

#dialogL, 
.ui-dialog-titlebar, 
.ui-button-text {
    padding: 0.05em 0.1em;
    position: relative;
    font-size: 0.6em;
}

#toolbar{
    background-color: transparent;
    font-size: 0.8em;
}


/*.canal-row-new, */
.canal-row{
    height: auto;
    background-color: white;
	margin: 1px 0 0 0;
	padding: 4px 8px;
	border: 2px solid #d0d0d0;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	position: relative;
}

.canal-row-new, 
.canal-row-new > label, 
.canal-row-new > input {
    vertical-align:middle;
}

.canal-row-new{ 
    opacity:0.4;
    height: auto;
    background-color: white;
	padding: 8px 8px;
	position: relative;
}

.canal-row-new:hover {
    vertical-align:middle;
    opacity:1.0;
}
	
.canal-row-content {
	display: none;
	border: 1px solid #ccc;
    border-top: 0;
}


.ui-accordion-header { 
    background-color: white; 
    background-image:none;
    font-size: 10pt;  
    line-height: 16pt; 
}

