body, html {
    height: 99%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div#library {
    width: auto;
    height: 140px;
}

#library * h3{
    line-height: 0.8em;
    font-size: 0.5em;
    padding: 0.05em 2em;
}

#dialogL, 
#toolbar, 
#library, 
.canal-row, 
.canal-row-new,
.canal-row-content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

#canal-scheme {
    position: absolute;
    left: 0px;
    right: 1px;
    top: 1px;
    bottom: 1px;
}

canvas {
    background-color: #E6E5D8;
    position: absolute;
    /*left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;*/
    z-index: 4;
}


ul#grid {
  padding: 0;
  list-style: none;
  margin: 0px auto 0;
  height: 100%;
  width: auto;
}

#grid li {
  float: left;
  padding:10;
  margin: 0px auto 0;
  text-align:center;
}
  
#grid li img {
  background-color: white;
  padding: 4px;
  margin: 0px;
  width: 24px;
  height: 24px;
}
 
#top-workspace {
    border: 1px solid grey;
    position:absolute;
    float: top;
    background: white;
    left: 3px;
    right: 3px;
    top: 0px;
    bottom: 3px;
    overflow: auto;
}

#properties,
#workspace {
    /*border: 2px solid blue;*/
    position:relative;
    left:1px;
    right:1px;
    bottom:1px;
    top:1px;
    min-height: 300px;
}



#toolbar { 
    line-height: 1.2em; 
    padding: 2px; 
    position: absolute;
    bottom: 3px;
    left: 3px; 
    width: 100px;
    background-color: transparent;
    font-size: 0.6em;
    z-index: 5;
}

#toolbar a { 
    font-weight: bold; 
    border: 1px 
    solid #aaa; 
    padding: 2px; 
}

#toolbar a:hover { 
    color: white; 
    background-color: #aaa; 
}

#dialogL, 
.ui-dialog-titlebar{
    padding: 0px 0px;
    margin: 0px, 0px, 0px, 0px;
    font-size: 0.6em;
    /*height: 1.1em; /* or whatever you want */
    line-height: 0.9em;
}

#canal-rows {
    height: auto;
    background-color: white;
    /*margin: 1px 0 0 0;
    padding: 4px 2px;*/
    border: 2px solid #d0d0d0;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    position: relative;
}


#canal-rows .ui-accordion-content > * {  
    margin: 0;  
    padding: 0px;  
}  

.canal-row-new, 
.canal-row-new > label, 
.canal-row-new > input {
    vertical-align:middle;
}

.canal-row-new { 
    opacity:0.4;
    height: auto;
    background-color: white;
    padding: 8px 8px;
    position: relative;
}

.canal-row-new:hover {
    vertical-align:middle;
    opacity:1.0;
}

#canal-rows * .ui-accordion-header { 
    background-color: white; 
    background-image:none;
    font-size: 10pt;  
    line-height: 16pt; 
}

#canal-rows > div > .ui-state-active { 
    background-color:#ADD9FF;
}


#canal-rows * .ui-accordion, 
#canal-rows * .ui-accordion-content {
    padding: 2px 2px 2px 2px;
}

.canal-row-content {
    position: relative;
    background: white;
    margin: 1px, 0px, 0px, 0px;
    padding: 1px, 0px, 0px, 0px;
    /*left:0px;
    right:3px;
    bottom: 0px;
    /*border: 3px solid green;*/
}

h1 {
  text-align: center;
}
ul.tabs {
  list-style-type: none;
  margin: 3px;
  padding: 5px 0px;
  float: left;
}
ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 2px 0 0;
  padding: 2px 2px;
  font-size: 0.8em;
}
ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: gray;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
